<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>"КЛУБ ВЫПУСКНИКОВ" ДЛЯ ГОСУДАРСТВЕННОГО УЧЕБНОГО ЗАВЕДЕНИЯ - {% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" ></script>
	<script src="{% static 'js/smooth-scroll.js' %}"></script>
	<!-- Bootstrap CSS -->
	{% bootstrap_css %}
</head>
<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-light navbar-expand-md text-uppercase navigation-clean-button" style="font-size: 14px;margin-bottom: 60px;">
			<div class="container-fluid">
				<img src="#" style="width: 60px;margin-right: 10px;">
				<a class="navbar-brand text-center" href="/" style="font-size: 12px;">"Клуб Выпускников"<br>для государственного<br>учебного заведения</a>
				<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Клуб</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">О клубе</a>
								<a class="dropdown-item" href="/news">Новости</a>
								<a class="dropdown-item" href="#">Галерея</a>
								<hr>
								<a class="dropdown-item" href="#">Как вступить в Ассоциацию выпускников</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">Выпускники</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Об эндаументе<br></a></li>
						<li class="nav-item"><a class="nav-link" href="#">Сайт учебного заведения</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
					</ul>
					<span class="navbar-text actions">
						{% if user.is_authenticated and user.get_username == 'admin' %}
						<a class="login" href="/admin">{{user.get_username}}</a>
						<a class="btn btn-light action-button" role="button" href="/logout">выйти</a>
						{% elif user.is_authenticated %}
						<a class="login" href="#">{{user.get_full_name}}</a>
						<a class="btn btn-light action-button" role="button" href="/logout">выйти</a>
						{% else %}
						<a class="login" href="/register">РЕГИСТРАЦИЯ</a>
						<a class="btn btn-light action-button" role="button" href="/login">войти</a>
						{% endif %}
					</span>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="flex-shrink-0">
		{% block content %} {% endblock %}
	</main>

	<footer class="text-uppercase footer-basic">
		<ul class="list-inline">
			<li class="list-inline-item"><a href="/">ГЛАВНАЯ</a></li>
			<li class="list-inline-item"><a href="#">Выпускники</a></li>
			<li class="list-inline-item"><a href="#">об эндаументе</a></li>
			<li class="list-inline-item"><a href="#">Сайт учебного заведения</a></li>
			<li class="list-inline-item"><a href="#">контакты</a></li>
		</ul>
		<p class="copyright">"Клуб Выпускников" для государственного учебного заведения © 2021</p>
	</footer>
	<!-- Bootstrap JavaScript if it is in body -->
	{% if not 'javascript_in_head'|bootstrap_setting %}
	{% bootstrap_javascript %}
	{% endif %}

	{% block bootstrap4_extra_script %}{% endblock %}
</body>
</html>